.star-rating {
  display: inline-flex;
  align-items: center;
}

.star-container {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.6em;
  margin-right: 2px;
  line-height: 1;
}

.star-background {
  color: #e0e0e0;
}

.star-filled {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffd700;
}

.star-container.editable {
  cursor: pointer;
}