/* Course Page Styles */

.course-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1em;
  padding: 50px 80px;
  box-sizing: border-box;
}

.course-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border: 0px solid blue;
}

/* Edit styling to be different from "Reviews" and "Discussions" */
.course-header-title {
  font-size: 2.2em;
  font-weight: bold;
}

.course-header-subtitle {
  color: gray;
  margin-bottom: 10px;
}

.course-header-reviews {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.course-header-rating {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.course-header-rating-value {
  margin-left: 5px;
  font-weight: bold;
  align-self: last baseline;
}

.course-header-review-count {
  margin-left: 15px;
  color: gray;
  align-self: last baseline;
}

.course-header-tags {
  display: flex;
  gap: 10px;
}

.course-tag-card {
  background-color: #fff7ec;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ff9900;
  font-size: 0.9em;
}

.course-add-tag-card {
  background-color: #e8ecff;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #002fff;
  font-size: 0.9em;
  cursor: pointer;
}

/***********************************************************************/

.course-body-container {
  display: flex;
  gap: 80px;
  font-size: 0.8em;
  border: 0px solid red;
  flex: 1;
  min-height: 0;
}

.course-body-container > * {
  width: 50%;
  box-sizing: border-box;
}

.course-body-reviews-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  border: 0px solid lime;
}

.course-reviews-list-container {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  overflow-y: auto;
  flex: 1;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.course-reviews-list {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.course-review-card {
  margin: 0 15px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #e4e4e4;
}

.course-review-card:last-child {
  border-bottom: none;
}

.course-review-rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0px solid purple;
}

.course-review-author {
  font-size: 0.9em;
  color: rgb(56, 56, 56);
}

.course-review-title {
  margin: 0;
  border: 0px solid brown;
}

.course-review-footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.course-review-like-button {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-icon {
  width: 100%;
  height: 100%;
}

.course-review-like-count {
  font-size: 0.9em;
  color: gray;
}

.course-review-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 5px;
}

.course-body-discussions-container {
  border: 0px solid orange;
}