/* Course Page Styles */

.course-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1em;
  padding: 50px 80px;
  border: 1px solid green;
}

.course-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border: 0px solid blue;
}

/* Edit styling to be different from "Reviews" and "Discussions" */
.course-header-title {
  font-size: 2.2em;
  font-weight: bold;
}

.course-header-subtitle {
  color: gray;
  margin-bottom: 10px;
}

.course-header-reviews {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.course-header-rating {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.course-header-rating-value {
  margin-left: 5px;
  font-weight: bold;
}

.course-header-review-count {
  margin-left: 15px;
  color: gray;
}

.course-header-tags {
  display: flex;
  gap: 10px;
}

.course-tag-card {
  background-color: #fff7ec;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ff9900;
  font-size: 0.9em;
}

.course-add-tag-card {
  background-color: #e8ecff;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #002fff;
  font-size: 0.9em;
}

/***********************************************************************/

.course-body-container {
  display: flex;
  gap: 20px;
  border: 0px solid red;
}

.course-body-container > * {
  width: 50%;
}

.course-body-reviews {
  border: 0px solid lime;
}

.course-body-discussions {
  border: 0px solid orange;
}